.git
.github
.vscode
.cursor
docs
terraform/.terraform
terraform/**/backend.tf
terraform/**/.terraform
**/.venv
**/__pycache__
results
summaries
Library
Temp
Logs
obj
Build
Builds
*.md
LICENSE
.DS_Store
